<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Cars</title>
</head>

<body>
    <div id="container">
        <div class="item">
            <img src="images/car1.jpg">
        </div>
        <div class="item">
            <img src="images/car2.jpg">
        </div>
        <div class="item">
            <img src="images/car3.jpg">
        </div>
    </div>
</body>

</html>