<!doctype html>
<html lang="en">

<head>
    <title>Great Number Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center justify-content-center align-items-center">
                <h1>Welcome to the Great Number Game!</h1>
                <p>I am thinking of a number between 1 and 100, take a guess!</p>
                <form action="/guess" method="POST" class="form-inline justify-content-center">
                    <input name="guess" type="text" class="form-control col-md-2" autofocus>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <% if (data === "correct") { %>
                <div class="alert alert-success text-center" role="alert">
                    <h3 class="display-4"><%= guess %> is correct</h3>
                    <form action="/reset" method="POST">
                        <input type="submit" class="btn btn-light" value="Play Again">
                    </form>
                </div>
                <% } else if (data === "high") { %>
                    <div class="alert alert-danger text-center" role="alert">
                        <h3 class="display-4"><%= guess %> is too high!</h3>
                    </div>
                <% } else if (data === "low") { %>
                    <div class="alert alert-danger text-center" role="alert">
                        <h3 class="display-4"><%= guess %> is too low!</h3>
                    </div>
                <% } else if (data === "empty") { %>
                    <div class="alert alert-danger text-center" role="alert">
                        <h3 class="display-4">You didn't make a guess!</h3>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>