img {
    width: 300px;
    height: 300px;
}

#container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 1fr;
}
#container > .item {
    justify-self: center;
}